@model IEnumerable<WebApplication4.Models.BookDTO>

@{
    ViewBag.Title = "Books";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<h3>Choose category:</h3>
<select id="category">
    <option value="books">Books</option>
    <option value="movies">Movies</option>
</select>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.genreId)
        </th>
    </tr>


    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.genreId)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.bookId }) |
                @Html.ActionLink("Details", "Details", new { id = item.bookId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.bookId })
            </td>
        </tr>
    }

</table>

<script>
    var apiAddress = '@(ViewBag.APIAddress)'
    function onProductChange() {
        fetch(apiAddress + "books", {
            method: 'GET',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            }
        })
            .then(response => response.json())
            .then(data => {
                console.log(data);
            });
    };

    document.querySelector("#category").addEventListener('change', onProductChange);

</script>