@model IEnumerable<MVC.Models.CarDTO>

@{
    ViewBag.Title = "Index";
}

<h2>Cars</h2>

@{ 
    if ((int)Session["userType"] != 0)
    {
        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
    }
}

<table class="table">
    <tr>
        <th>
           Brand
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Model)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Brand1.BrandName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Model)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        @{ 
            if ((int)Session["userType"] != 0)
            {
                <td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            }
            else
            {
                <td>
                    @Html.ActionLink("Rent", "Rent", new { carId = item.CarId, userId = Session["userId"] })
                </td>
            }
        }
    </tr>
}

</table>
