@model IEnumerable<MVC.Models.CarDTO>

@{
    ViewBag.Title = "Index";
}

<h2>Cars</h2>

@{ 
    if ((int)Session["userType"] != 0)
    {
        <p>
            @Html.ActionLink("Add New", "AddOrEdit")
        </p>
    }
}

<table class="table">
    <tr>
        <th>
           Brand
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Model)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr id="edit@(item.CarId)" style="display:none">
        <td>
            <input name="brandName"/>
        </td>
        <td>
            <input name="model"/>
        </td>
        <td>
            <input name="price"/>
        </td>
        <td>
            <button>Save</button>
        </td>
    </tr>

    <tr>
        <td id="brand">
            @Html.DisplayFor(modelItem => item.Brand1.BrandName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Model)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        @{ 
            if ((int)Session["userType"] != 0)
            {
                <td>
                    @Html.ActionLink("Edit", "AddOrEdit", new {id=item.CarId}) |
                    @Html.ActionLink("Delete", "Delete", new {id=item.CarId})
                </td>
            }
            else
            {
                <td>
                    @if (ViewBag.rentedId != null && item.CarId == ViewBag.rentedId)
                    {
                        @Html.ActionLink("Cancel", "Cancel", "Cars", new { carId = item.CarId, cancel=true }, null)
                    }
                    else
                    {
                        @Html.ActionLink("Rent", "Rent", "Users", new { carId = item.CarId, userId = Session["userId"] }, null)
                    }
                </td>
            }
        }
    </tr>
}

</table>
<script>
</script>